<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>868084891296-u38opl270bejm6qmkp6cbjq1v3bngrie.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.868084891296-u38opl270bejm6qmkp6cbjq1v3bngrie</string>
	<key>API_KEY</key>
	<string>AIzaSyBXARXpfrtR6MBcjXMmOat4ZHO1X-g3dmM</string>
	<key>GCM_SENDER_ID</key>
	<string>868084891296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.login-screen</string>
	<key>PROJECT_ID</key>
	<string>mspr-ras</string>
	<key>STORAGE_BUCKET</key>
	<string>mspr-ras.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:868084891296:ios:22a0f939362a8fe19053c5</string>
</dict>
</plist>